*.o
*.a
*.lib
*.obj
*.exe
*.dep
*.ldflags
*.files
docs
rom
lsnes
*.util
/core
/bsnes
/gambatte
src/fonts/font.cpp
src/core/version.cpp
src/cmdhelp/*.cpp
include/cmdhelp/*.hpp
src/emulation/make-ports
src/cmdhelp/mkstubs
src/cmdhelp/mkstubsi
buildaux/mkdeps
