bind-key /rctrl q quit-emulator
bind-key rctrl/rctrl q quit-emulator /y
bind-key pause pause-emulator
alias-command +speed set-setting targetfps infinite
alias-command -speed unset-setting targetfps
bind-key scrollock +speed
bind-key pageup scroll-up
bind-key pagedown scroll-down
bind-key home scroll-fullup
bind-key end scroll-fulldown
bind-key key121 toggle-console

bind-key left +controller1left
bind-key up +controller1up
bind-key right +controller1right
bind-key down +controller1down
bind-key rctrl +controller1A
bind-key ralt +controller1B
bind-key rshift +controller1X
bind-key l +controller1Y
bind-key o +controller1L
bind-key p +controller1R
bind-key return +controller1start
bind-key 0 +controller1select

bind-key a +controller2left
bind-key w +controller2up
bind-key d +controller2right
bind-key s +controller2down
bind-key lctrl +controller2A
bind-key lalt +controller2B
bind-key lshift +controller2X
bind-key z +controller2Y
bind-key 1 +controller2L
bind-key 3 +controller2R
bind-key tab +controller2start
bind-key x +controller2select

bind-key backspace +advance-frame

bind-key /shift f1 save-state movieslot1.lsmv
bind-key /shift f2 save-state movieslot2.lsmv
bind-key /shift f3 save-state movieslot3.lsmv
bind-key /shift f4 save-state movieslot4.lsmv
bind-key /shift f5 save-state movieslot5.lsmv
bind-key /shift f6 save-state movieslot6.lsmv
bind-key /shift f7 save-state movieslot7.lsmv
bind-key /shift f8 save-state movieslot8.lsmv
bind-key /shift f9 save-state movieslot9.lsmv
bind-key /shift f10 save-state movieslota.lsmv
bind-key /shift f11 save-state movieslotb.lsmv
bind-key /shift f12 save-state movieslotc.lsmv

bind-key shift/shift f1 load-state movieslot1.lsmv
bind-key shift/shift f2 load-state movieslot2.lsmv
bind-key shift/shift f3 load-state movieslot3.lsmv
bind-key shift/shift f4 load-state movieslot4.lsmv
bind-key shift/shift f5 load-state movieslot5.lsmv
bind-key shift/shift f6 load-state movieslot6.lsmv
bind-key shift/shift f7 load-state movieslot7.lsmv
bind-key shift/shift f8 load-state movieslot8.lsmv
bind-key shift/shift f9 load-state movieslot9.lsmv
bind-key shift/shift f10 load-state movieslota.lsmv
bind-key shift/shift f11 load-state movieslotb.lsmv
bind-key shift/shift f12 load-state movieslotc.lsmv
